/* style jQuery dialog box */
.ui-widget-content {
	border: solid 2px black;
    background: #ffffff;
    color: #000000;
}

/* style jQuery dialog box header */
.ui-widget-header {
    border: 2px solid #000000;
    background: #0400ff;
    color: #ffffff;
    font-weight: bold;
}

/* jQuery dialog box remove close button */
.no-close .ui-dialog-titlebar-close {
	display: none;
}

/* remove border from above play again button */
.ui-widget-content .ui-widget-content {
    border: none;
}

/* float play again button in center */
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
	margin: auto;
	display: flex;
}

/* play again button styles */
.ui-dialog .ui-dialog-buttonpane button {
    margin: auto;
	padding: 10px;
	background-color: #2bb900;
	background-color: #78c262;
}